# 전처리로직

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('교통량데이터프레임(날씨추가전).csv',encoding='utf-8')
df_2 = pd.read_csv('종로구_날씨데이터(수정).csv',encoding='cp949')

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df_2.head()

In [ ]:
df_2.info()

## 이 부분은 안봐도 됌

In [ ]:
# df['기준']=df['년도']+df['월']+df['일']+df['시간']

In [ ]:
# df.head()

In [ ]:
# df.info()

## 병합 기준

In [4]:
df[['년도','월','일','시간']]=df[['년도','월','일','시간']].astype(str)

In [5]:
df['기준2'] = df['년도']+'-'+df['월']+'-'+df['일']+'-'+df['시간']

In [6]:
df.head()

     년도  월  일 요일 시간        교통량측정지점명 사고다발지점     교통량         기준2
0  2017  1  1  일  0  대학로(한국방송통신대학교)  이화사거리  1021.0  2017-1-1-0
1  2017  1  1  일  1  대학로(한국방송통신대학교)  이화사거리   778.0  2017-1-1-1
2  2017  1  1  일  2  대학로(한국방송통신대학교)  이화사거리   601.0  2017-1-1-2
3  2017  1  1  일  3  대학로(한국방송통신대학교)  이화사거리   512.0  2017-1-1-3
4  2017  1  1  일  4  대학로(한국방송통신대학교)  이화사거리   534.0  2017-1-1-4

In [7]:
df['기준2']

0            2017-1-1-0
1            2017-1-1-1
2            2017-1-1-2
3            2017-1-1-3
4            2017-1-1-4
              ...
131395    2019-12-31-19
131396    2019-12-31-20
131397    2019-12-31-21
131398    2019-12-31-22
131399    2019-12-31-23
Name: 기준2, Length: 131400, dtype: object

## 병합되면 몇 행일지 조사

In [ ]:
df.shape

In [ ]:
df_2.shape

In [9]:
df_2.head()

,Unnamed: 0,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,0,108,2017-01-01 00:00,0.2,NaN,2.2,20.0,79.0,4.9,-3.0,...,Sc,8.0,491,NaN,40.0,-0.9,0.1,0.3,1.7,2.6
1,1,108,2017-01-01 01:00,0.0,NaN,1.4,20.0,78.0,4.8,-3.3,...,NaN,7.0,549,NaN,40.0,-0.9,0.0,0.3,1.7,2.6
2,2,108,2017-01-01 02:00,-0.3,NaN,1.9,50.0,81.0,4.9,-3.1,...,NaN,8.0,483,NaN,4019.0,-1.8,0.0,0.3,1.7,2.6
3,3,108,2017-01-01 03:00,-0.7,NaN,2.0,50.0,84.0,4.9,-3.0,...,NaN,NaN,436,NaN,19.0,-2.1,0.0,0.3,1.7,2.7
4,4,108,2017-01-01 04:00,-1.1,NaN,1.6,20.0,85.0,4.8,-3.3,...,NaN,NaN,430,NaN,19.0,-2.4,-0.1,0.4,1.7,2.6

## 일시를 슬라이싱해서 칼럼으로 추가

In [10]:
df_2['년도']=df_2['일시'].str[:4]

In [11]:
df_2['월']= df_2['일시'].str[5:7]

In [ ]:
# df_2['시간'].astype(int)

In [12]:
df_2['일'] = df_2['일시'].str[8:10]

In [29]:
df_2[['월','일']]=df_2[['월','일']].astype(str)

In [13]:
df_2['시간']=df_2['일시'].str[-5:-3]

In [ ]:
df_2['기준2']=df_2['기준2'].astype(str)

In [ ]:
df_2['기준2'].replace(' ','')

In [ ]:
df_2['기준2'].astype(int)

In [ ]:
df_2['시간']=df_2['시간'].astype(int)

In [20]:
df_2['시간']=df_2['시간'].astype(int)

In [22]:
df_2['시간']=df_2['시간'].astype(str)

In [30]:
df_2['기준2'] = df_2['년도']+'-'+df_2['월']+'-'+df_2['일']+'-'+df_2['시간']

In [31]:
df_2.head()

,Unnamed: 0,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),...,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),년도,월,일,시간,기준,기준2
0,0,108,2017-01-01 00:00,0.2,NaN,2.2,20.0,79.0,4.9,-3.0,...,0.1,0.3,1.7,2.6,2017,1,1,0,2017010100,2017-1-1-0
1,1,108,2017-01-01 01:00,0.0,NaN,1.4,20.0,78.0,4.8,-3.3,...,0.0,0.3,1.7,2.6,2017,1,1,1,2017010101,2017-1-1-1
2,2,108,2017-01-01 02:00,-0.3,NaN,1.9,50.0,81.0,4.9,-3.1,...,0.0,0.3,1.7,2.6,2017,1,1,2,2017010102,2017-1-1-2
3,3,108,2017-01-01 03:00,-0.7,NaN,2.0,50.0,84.0,4.9,-3.0,...,0.0,0.3,1.7,2.7,2017,1,1,3,2017010103,2017-1-1-3
4,4,108,2017-01-01 04:00,-1.1,NaN,1.6,20.0,85.0,4.8,-3.3,...,-0.1,0.4,1.7,2.6,2017,1,1,4,2017010104,2017-1-1-4

In [32]:
df['기준2']

0            2017-1-1-0
1            2017-1-1-1
2            2017-1-1-2
3            2017-1-1-3
4            2017-1-1-4
              ...
131395    2019-12-31-19
131396    2019-12-31-20
131397    2019-12-31-21
131398    2019-12-31-22
131399    2019-12-31-23
Name: 기준2, Length: 131400, dtype: object

In [33]:
df_2['기준2']

0           2017-1-1-0
1           2017-1-1-1
2           2017-1-1-2
3           2017-1-1-3
4           2017-1-1-4
             ...
26275    2019-12-31-19
26276    2019-12-31-20
26277    2019-12-31-21
26278    2019-12-31-22
26279    2019-12-31-23
Name: 기준2, Length: 26280, dtype: object

In [ ]:
df_2[['년도','월','일','시간']]=df_2[['년도','월','일','시간']].astype(str)

In [ ]:
# pd.merge(df, df_2, on='년도','월','일','시간', how="inner")

In [ ]:
df_2['기준2']=df_2['기준2'].replace(' ','')

## 공백이 실수를 그대로 str 형태로 바꿔서 그런거라 생각하고 ,
## int형으로 변환하고 str형태로 다시 칼럼추가

In [ ]:
df_2['시간'].astype(int)

## 공백 제거 코드가 먹지 않음.

In [ ]:
df_2['기준2'].str.strip()

In [14]:
df_2['기준']=df_2['년도']+df_2['월']+df_2['일']+df_2['시간']

,Unnamed: 0,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),...,지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),년도,월,일,시간,기준
0,0,108,2017-01-01 00:00,0.2,NaN,2.2,20.0,79.0,4.9,-3.0,...,-0.9,0.1,0.3,1.7,2.6,2017,01,01,00,2017010100
1,1,108,2017-01-01 01:00,0.0,NaN,1.4,20.0,78.0,4.8,-3.3,...,-0.9,0.0,0.3,1.7,2.6,2017,01,01,01,2017010101
2,2,108,2017-01-01 02:00,-0.3,NaN,1.9,50.0,81.0,4.9,-3.1,...,-1.8,0.0,0.3,1.7,2.6,2017,01,01,02,2017010102
3,3,108,2017-01-01 03:00,-0.7,NaN,2.0,50.0,84.0,4.9,-3.0,...,-2.1,0.0,0.3,1.7,2.7,2017,01,01,03,2017010103
4,4,108,2017-01-01 04:00,-1.1,NaN,1.6,20.0,85.0,4.8,-3.3,...,-2.4,-0.1,0.4,1.7,2.6,2017,01,01,04,2017010104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26275,8755,108,2019-12-31 19:00,-6.9,NaN,1.7,290.0,38.0,1.4,-18.8,...,-3.6,-0.6,0.9,2.3,3.3,2019,12,31,19,2019123119
26276,8756,108,2019-12-31 20:00,-7.0,NaN,2.9,290.0,41.0,1.5,-18.0,...,-4.1,-0.7,0.9,2.3,3.3,2019,12,31,20,2019123120
26277,8757,108,2019-12-31 21:00,-7.4,NaN,0.8,20.0,43.0,1.5,-17.8,...,-4.4,-0.8,0.9,2.3,3.3,2019,12,31,21,2019123121
26278,8758,108,2019-12-31 22:00,-8.2,NaN,0.0,0.0,42.0,1.4,-18.8,...,-4.6,-1.0,0.8,2.2,3.2,2019,12,31,22,2019123122
26279,8759,108,2019-12-31 23:00,-7.4,NaN,0.0,0.0,45.0,1.6,-17.3,...,-3.5,-1.1,0.8,2.2,3.2,2019,12,31,23,2019123123

In [34]:
df_a=pd.merge(df, df_2, on='기준2', how="inner")

In [36]:
dfdf_=df_a.sort_values(by=['년도_x','월_x','일_x','사고다발지점','시간_x',], axis=0)

In [35]:
df_a.shape

(131400, 42)

In [ ]:
df_a.shape

In [ ]:
# df______.to_csv('0915.csv',encoding='cp949')

In [ ]:
# df______.shape

In [ ]:
# df______.tail()

## 확인

In [ ]:
df.head()

In [ ]:
df_2.head()

In [ ]:
# df_a.to_csv('교통량+날씨.csv',encoding='cp949')

## 저장

In [64]:
df =pd.read_csv('교통량+날씨.csv',encoding='cp949')

## 칼럼순으로 정리

In [67]:
dfdf_=dfdf.sort_values(by=['년도_x','년도_x','월_x','일_x','사고다발지점'], axis=0)

In [69]:
dfdf_.head(30)

,년도_x,월_x,일_x,요일,시간_x,교통량측정지점명,사고다발지점,교통량,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),최저운고(100m ),시정(10m),지면상태(지면상태코드),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,2017,1,1,일,0,세종대로(시청역2),광하문우체국사거리,1021.0,2017-01-01 0:00,0.2,NaN,2.2,20.0,79.0,4.9,1018.8,NaN,NaN,NaN,8.0,491,NaN,-0.9,0.1,0.3,1.7,2.6
1,2017,1,1,일,1,세종대로(시청역2),광하문우체국사거리,778.0,2017-01-01 1:00,0.0,NaN,1.4,20.0,78.0,4.8,1018.9,NaN,NaN,NaN,7.0,549,NaN,-0.9,0.0,0.3,1.7,2.6
2,2017,1,1,일,2,세종대로(시청역2),광하문우체국사거리,601.0,2017-01-01 2:00,-0.3,NaN,1.9,50.0,81.0,4.9,1018.5,NaN,NaN,NaN,8.0,483,NaN,-1.8,0.0,0.3,1.7,2.6
3,2017,1,1,일,3,세종대로(시청역2),광하문우체국사거리,512.0,2017-01-01 3:00,-0.7,NaN,2.0,50.0,84.0,4.9,1018.8,NaN,NaN,NaN,NaN,436,NaN,-2.1,0.0,0.3,1.7,2.7
4,2017,1,1,일,4,세종대로(시청역2),광하문우체국사거리,534.0,2017-01-01 4:00,-1.1,NaN,1.6,20.0,85.0,4.8,1018.6,NaN,NaN,NaN,NaN,430,NaN,-2.4,-0.1,0.4,1.7,2.6
5,2017,1,1,일,5,세종대로(시청역2),광하문우체국사거리,825.0,2017-01-01 5:00,-1.4,NaN,1.4,50.0,86.0,4.8,1018.3,NaN,NaN,NaN,NaN,381,NaN,-2.6,-0.2,0.4,1.7,2.6
6,2017,1,1,일,6,세종대로(시청역2),광하문우체국사거리,1415.0,2017-01-01 6:00,-1.5,NaN,1.6,20.0,87.0,4.8,1018.1,NaN,NaN,NaN,7.0,365,NaN,-2.7,-0.2,0.4,1.7,2.6
7,2017,1,1,일,7,세종대로(시청역2),광하문우체국사거리,1870.0,2017-01-01 7:00,-1.5,NaN,1.4,20.0,87.0,4.8,1018.6,NaN,NaN,NaN,7.0,368,NaN,-2.2,-0.3,0.4,1.7,2.6
8,2017,1,1,일,8,세종대로(시청역2),광하문우체국사거리,2085.0,2017-01-01 8:00,-1.3,NaN,1.4,20.0,87.0,4.9,1019.0,0.0,0.01,NaN,10.0,355,NaN,-1.8,-0.1,0.4,1.7,2.6
9,2017,1,1,일,9,세종대로(시청역2),광하문우체국사거리,2124.0,2017-01-01 9:00,-0.4,NaN,1.6,20.0,83.0,4.9,1019.4,0.0,0.16,NaN,10.0,384,NaN,-0.2,0.0,0.4,1.7,2.6
10,2017,1,1,일,10,세종대로(시청역2),광하문우체국사거리,2148.0,2017-01-01 10:00,0.8,NaN,2.1,50.0,77.0,5.0,1020.1,0.1,0.28,NaN,10.0,422,NaN,0.6,0.1,0.5,1.7,2.6
11,2017,1,1,일,11,세종대로(시청역2),광하문우체국사거리,2156.0,2017-01-01 11:00,2.5,NaN,1.9,50.0,71.0,5.2,1019.9,0.6,0.71,NaN,10.0,418,NaN,2.9,0.2,0.5,1.7,2.6
12,2017,1,1,일,12,세종대로(시청역2),광하문우체국사거리,2104.0,2017-01-01 12:00,4.0,NaN,1.3,50.0,69.0,5.6,1018.7,0.2,0.86,NaN,8.0,433,NaN,3.6,0.4,0.5,1.7,2.6
13,2017,1,1,일,13,세종대로(시청역2),광하문우체국사거리,2188.0,2017-01-01 13:00,5.1,NaN,1.4,20.0,65.0,5.7,1017.9,0.1,0.73,NaN,8.0,430,NaN,5.1,0.6,0.5,1.7,2.6
14,2017,1,1,일,14,세종대로(시청역2),광하문우체국사거리,2217.0,2017-01-01 14:00,6.7,NaN,0.7,340.0,61.0,6.0,1017.1,0.7,0.90,NaN,7.0,442,NaN,7.2,1.1,0.5,1.7,2.6
15,2017,1,1,일,15,세종대로(시청역2),광하문우체국사거리,2232.0,2017-01-01 15:00,6.9,NaN,0.9,230.0,65.0,6.4,1016.8,0.0,0.41,NaN,8.0,471,NaN,5.0,1.1,0.6,1.7,2.6
16,2017,1,1,일,16,세종대로(시청역2),광하문우체국사거리,2233.0,2017-01-01 16:00,6.8,NaN,1.2,230.0,67.0,6.6,1016.5,0.0,0.21,NaN,7.0,491,NaN,4.3,1.1,0.7,1.8,2.6
17,2017,1,1,일,17,세종대로(시청역2),광하문우체국사거리,2194.0,2017-01-01 17:00,6.5,NaN,0.7,20.0,69.0,6.7,1016.2,0.0,0.10,NaN,8.0,435,NaN,3.2,1.2,0.7,1.8,2.6
18,2017,1,1,일,18,세종대로(시청역2),광하문우체국사거리,2130.0,2017-01-01 18:00,5.6,NaN,2.4,50.0,70.0,6.3,1015.8,0.0,0.01,NaN,9.0,384,NaN,2.4,1.2,0.8,1.8,2.6
19,2017,1,1,일,19,세종대로(시청역2),광하문우체국사거리,1958.0,2017-01-01 19:00,4.8,NaN,2.2,50.0,73.0,6.2,1015.5,NaN,NaN,NaN,11.0,383,NaN,1.2,0.9,0.8,1.8,2.6
20,2017,1,1,일,20,세종대로(시청역2),광하문우체국사거리,1808.0,2017-01-01 20:00,4.2,NaN,1.9,70.0,73.0,6.0,1015.4,NaN,NaN,NaN,11.0,383,NaN,0.6,0.7,0.9,1.9,2.6
21,2017,1,1,일,21,세종대로(시청역2),광하문우체국사거리,1779.0,2017-01-01 21:00,4.0,NaN,2.6,50.0,74.0,6.0,1014.6,NaN,NaN,NaN,10.0,366,NaN,0.8,0.9,0.9,1.9,2.7
22,2017,1,1,일,22,세종대로(시청역2),광하문우체국사거리,1636.0,2017-01-01 22:00,3.9,NaN,1.4,20.0,75.0,6.1,1014.4,NaN,NaN,NaN,10.0,359,NaN,1.4,1.1,0.9,1.9,2.7
23,2017,1,1,일,23,세종대로(시청역2),광하문우체국사거리,1326.0,2017-01-01 23:00,3.9,NaN,1.4,20.0,75.0,6.1,1014.1,NaN,NaN,NaN,11.0,357,NaN,1.5,1.2,0.9,1.9,2.7
24,2017,1,1,일,0,종로(동묘앞역),동묘앞역사거리,1021.0,2017-01-01 0:00,0.2,NaN,2.2,20.0,79.0,4.9,1018.8,NaN,NaN,NaN,8.0,491,NaN,-0.9,0.1,0.3,1.7,2.6
25,2017,1,1,일,1,종로(동묘앞역),동묘앞역사거리,778.0,2017-01-01 1:00,0.0,NaN,1.4,20.0,78.0,4.8,1018.9,NaN,NaN,NaN,7.0,549,NaN,-0.9,0.0,0.3,1.7,2.6
26,2017,1,1,일,2,종로(동묘앞역),동묘앞역사거리,601.0,2017-01-01 2:00,-0.3,NaN,1.9,50.0,81.0,4.9,1018.5,NaN,NaN,NaN,8.0,483,NaN,-1.8,0.0,0.3,1.7,2.6
27,2017,1,1,일,3,종로(동묘앞역),동묘앞역사거리,512.0,2017-01-01 3:00,-0.7,NaN,2.0,50.0,84.0,4.9,1018.8,NaN,NaN,NaN,NaN,436,NaN,-2.1,0.0,0.3,1.7,2.7
28,2017,1,1,일,4,종로(동묘앞역),동묘앞역사거리,534.0,2017-01-01 4:00,-1.1,NaN,1.6,20.0,85.0,4.8,1018.6,NaN,NaN,NaN,NaN,430,NaN,-2.4,-0.1,0.4,1.7,2.6
29,2017,1,1,일,5,종로(동묘앞역),동묘앞역사거리,825.0,2017-01-01 5:00,-1.4,NaN,1.4,50.0,86.0,4.8,1018.3,NaN,NaN,NaN,NaN,381,NaN,-2.6,-0.2,0.4,1.7,2.6

In [56]:
pd.set_option('display.max_columns', None)

In [60]:
dfdf_.head(30)

,년도_x,월_x,일_x,요일,시간_x,교통량측정지점명,사고다발지점,교통량,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),최저운고(100m ),시정(10m),지면상태(지면상태코드),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,2017,1,1,일,0,세종대로(시청역2),광하문우체국사거리,1021.0,2017-01-01 0:00,0.2,NaN,2.2,20.0,79.0,4.9,1018.8,NaN,NaN,NaN,8.0,491,NaN,-0.9,0.1,0.3,1.7,2.6
24,2017,1,1,일,0,종로(동묘앞역),동묘앞역사거리,1021.0,2017-01-01 0:00,0.2,NaN,2.2,20.0,79.0,4.9,1018.8,NaN,NaN,NaN,8.0,491,NaN,-0.9,0.1,0.3,1.7,2.6
48,2017,1,1,일,0,율곡로(안국역),안국역사거리,1021.0,2017-01-01 0:00,0.2,NaN,2.2,20.0,79.0,4.9,1018.8,NaN,NaN,NaN,8.0,491,NaN,-0.9,0.1,0.3,1.7,2.6
72,2017,1,1,일,0,대학로(한국방송통신대학교),이화사거리,1021.0,2017-01-01 0:00,0.2,NaN,2.2,20.0,79.0,4.9,1018.8,NaN,NaN,NaN,8.0,491,NaN,-0.9,0.1,0.3,1.7,2.6
96,2017,1,1,일,0,종로(종로3가역),종로3가역사거리,796.0,2017-01-01 0:00,0.2,NaN,2.2,20.0,79.0,4.9,1018.8,NaN,NaN,NaN,8.0,491,NaN,-0.9,0.1,0.3,1.7,2.6
1,2017,1,1,일,1,세종대로(시청역2),광하문우체국사거리,778.0,2017-01-01 1:00,0.0,NaN,1.4,20.0,78.0,4.8,1018.9,NaN,NaN,NaN,7.0,549,NaN,-0.9,0.0,0.3,1.7,2.6
25,2017,1,1,일,1,종로(동묘앞역),동묘앞역사거리,778.0,2017-01-01 1:00,0.0,NaN,1.4,20.0,78.0,4.8,1018.9,NaN,NaN,NaN,7.0,549,NaN,-0.9,0.0,0.3,1.7,2.6
49,2017,1,1,일,1,율곡로(안국역),안국역사거리,778.0,2017-01-01 1:00,0.0,NaN,1.4,20.0,78.0,4.8,1018.9,NaN,NaN,NaN,7.0,549,NaN,-0.9,0.0,0.3,1.7,2.6
73,2017,1,1,일,1,대학로(한국방송통신대학교),이화사거리,778.0,2017-01-01 1:00,0.0,NaN,1.4,20.0,78.0,4.8,1018.9,NaN,NaN,NaN,7.0,549,NaN,-0.9,0.0,0.3,1.7,2.6
97,2017,1,1,일,1,종로(종로3가역),종로3가역사거리,857.0,2017-01-01 1:00,0.0,NaN,1.4,20.0,78.0,4.8,1018.9,NaN,NaN,NaN,7.0,549,NaN,-0.9,0.0,0.3,1.7,2.6
2,2017,1,1,일,2,세종대로(시청역2),광하문우체국사거리,601.0,2017-01-01 2:00,-0.3,NaN,1.9,50.0,81.0,4.9,1018.5,NaN,NaN,NaN,8.0,483,NaN,-1.8,0.0,0.3,1.7,2.6
26,2017,1,1,일,2,종로(동묘앞역),동묘앞역사거리,601.0,2017-01-01 2:00,-0.3,NaN,1.9,50.0,81.0,4.9,1018.5,NaN,NaN,NaN,8.0,483,NaN,-1.8,0.0,0.3,1.7,2.6
50,2017,1,1,일,2,율곡로(안국역),안국역사거리,601.0,2017-01-01 2:00,-0.3,NaN,1.9,50.0,81.0,4.9,1018.5,NaN,NaN,NaN,8.0,483,NaN,-1.8,0.0,0.3,1.7,2.6
74,2017,1,1,일,2,대학로(한국방송통신대학교),이화사거리,601.0,2017-01-01 2:00,-0.3,NaN,1.9,50.0,81.0,4.9,1018.5,NaN,NaN,NaN,8.0,483,NaN,-1.8,0.0,0.3,1.7,2.6
98,2017,1,1,일,2,종로(종로3가역),종로3가역사거리,767.5,2017-01-01 2:00,-0.3,NaN,1.9,50.0,81.0,4.9,1018.5,NaN,NaN,NaN,8.0,483,NaN,-1.8,0.0,0.3,1.7,2.6
3,2017,1,1,일,3,세종대로(시청역2),광하문우체국사거리,512.0,2017-01-01 3:00,-0.7,NaN,2.0,50.0,84.0,4.9,1018.8,NaN,NaN,NaN,NaN,436,NaN,-2.1,0.0,0.3,1.7,2.7
27,2017,1,1,일,3,종로(동묘앞역),동묘앞역사거리,512.0,2017-01-01 3:00,-0.7,NaN,2.0,50.0,84.0,4.9,1018.8,NaN,NaN,NaN,NaN,436,NaN,-2.1,0.0,0.3,1.7,2.7
51,2017,1,1,일,3,율곡로(안국역),안국역사거리,512.0,2017-01-01 3:00,-0.7,NaN,2.0,50.0,84.0,4.9,1018.8,NaN,NaN,NaN,NaN,436,NaN,-2.1,0.0,0.3,1.7,2.7
75,2017,1,1,일,3,대학로(한국방송통신대학교),이화사거리,512.0,2017-01-01 3:00,-0.7,NaN,2.0,50.0,84.0,4.9,1018.8,NaN,NaN,NaN,NaN,436,NaN,-2.1,0.0,0.3,1.7,2.7
99,2017,1,1,일,3,종로(종로3가역),종로3가역사거리,794.0,2017-01-01 3:00,-0.7,NaN,2.0,50.0,84.0,4.9,1018.8,NaN,NaN,NaN,NaN,436,NaN,-2.1,0.0,0.3,1.7,2.7
4,2017,1,1,일,4,세종대로(시청역2),광하문우체국사거리,534.0,2017-01-01 4:00,-1.1,NaN,1.6,20.0,85.0,4.8,1018.6,NaN,NaN,NaN,NaN,430,NaN,-2.4,-0.1,0.4,1.7,2.6
28,2017,1,1,일,4,종로(동묘앞역),동묘앞역사거리,534.0,2017-01-01 4:00,-1.1,NaN,1.6,20.0,85.0,4.8,1018.6,NaN,NaN,NaN,NaN,430,NaN,-2.4,-0.1,0.4,1.7,2.6
52,2017,1,1,일,4,율곡로(안국역),안국역사거리,534.0,2017-01-01 4:00,-1.1,NaN,1.6,20.0,85.0,4.8,1018.6,NaN,NaN,NaN,NaN,430,NaN,-2.4,-0.1,0.4,1.7,2.6
76,2017,1,1,일,4,대학로(한국방송통신대학교),이화사거리,534.0,2017-01-01 4:00,-1.1,NaN,1.6,20.0,85.0,4.8,1018.6,NaN,NaN,NaN,NaN,430,NaN,-2.4,-0.1,0.4,1.7,2.6
100,2017,1,1,일,4,종로(종로3가역),종로3가역사거리,519.5,2017-01-01 4:00,-1.1,NaN,1.6,20.0,85.0,4.8,1018.6,NaN,NaN,NaN,NaN,430,NaN,-2.4,-0.1,0.4,1.7,2.6
5,2017,1,1,일,5,세종대로(시청역2),광하문우체국사거리,825.0,2017-01-01 5:00,-1.4,NaN,1.4,50.0,86.0,4.8,1018.3,NaN,NaN,NaN,NaN,381,NaN,-2.6,-0.2,0.4,1.7,2.6
29,2017,1,1,일,5,종로(동묘앞역),동묘앞역사거리,825.0,2017-01-01 5:00,-1.4,NaN,1.4,50.0,86.0,4.8,1018.3,NaN,NaN,NaN,NaN,381,NaN,-2.6,-0.2,0.4,1.7,2.6
53,2017,1,1,일,5,율곡로(안국역),안국역사거리,825.0,2017-01-01 5:00,-1.4,NaN,1.4,50.0,86.0,4.8,1018.3,NaN,NaN,NaN,NaN,381,NaN,-2.6,-0.2,0.4,1.7,2.6
77,2017,1,1,일,5,대학로(한국방송통신대학교),이화사거리,825.0,2017-01-01 5:00,-1.4,NaN,1.4,50.0,86.0,4.8,1018.3,NaN,NaN,NaN,NaN,381,NaN,-2.6,-0.2,0.4,1.7,2.6
101,2017,1,1,일,5,종로(종로3가역),종로3가역사거리,489.5,2017-01-01 5:00,-1.4,NaN,1.4,50.0,86.0,4.8,1018.3,NaN,NaN,NaN,NaN,381,NaN,-2.6,-0.2,0.4,1.7,2.6

## 저장2

In [50]:
dfdf_.shape

(131400, 42)

In [73]:
dfdf_.to_csv('교통량+날씨_0928.csv',encoding='cp949')