In [1]:
import pandas as pd
import numpy as np

In [2]:
accident_list = ['안국역사거리', '광하문우체국사거리','종로3가역사거리', '이화사거리', '동묘앞역사거리']
traffic_list = ['율곡로(안국역)', '세종대로(시청역2)', '종로(종로3가역)', '대학로(한국방송통신대학교)', '종로(동묘앞역)']

data = {}
for i in range(len(accident_list)):
    data[traffic_list[i]] = accident_list[i]
    
data

{'율곡로(안국역)': '안국역사거리',
 '세종대로(시청역2)': '광하문우체국사거리',
 '종로(종로3가역)': '종로3가역사거리',
 '대학로(한국방송통신대학교)': '이화사거리',
 '종로(동묘앞역)': '동묘앞역사거리'}

### 테스트

In [3]:
data_2017 = pd.read_csv('./교통량/2017/2017_1월.csv', encoding='utf-8')
data_2017 = data_2017[(data_2017['지점명'] == traffic_list[0]) | (data_2017['지점명'] == traffic_list[1]) | (data_2017['지점명'] == traffic_list[2]) | (data_2017['지점명'] == traffic_list[3]) | (data_2017['지점명'] == traffic_list[4])]
data_2017

,Unnamed: 0,일자,요일,지점명,지점번호,구분,방향,0시,1시,2시,...,17시,18시,19시,20시,21시,22시,23시,년도,월,일
248,248,20170101,일,율곡로(안국역),A-05,유입,안국역->안국동사거리,1021.0,778.0,601.0,...,2194.0,2130.0,1958.0,1808.0,1779.0,1636.0,1326.0,2017,1,1
249,249,20170102,월,율곡로(안국역),A-05,유입,안국역->안국동사거리,1021.0,778.0,601.0,...,2194.0,2130.0,1958.0,1808.0,1779.0,1636.0,1326.0,2017,1,2
250,250,20170103,화,율곡로(안국역),A-05,유입,안국역->안국동사거리,1021.0,778.0,601.0,...,2194.0,2130.0,1958.0,1808.0,1779.0,1636.0,1326.0,2017,1,3
251,251,20170104,수,율곡로(안국역),A-05,유입,안국역->안국동사거리,1021.0,778.0,601.0,...,2194.0,2130.0,1958.0,1808.0,1779.0,1636.0,1326.0,2017,1,4
252,252,20170105,목,율곡로(안국역),A-05,유입,안국역->안국동사거리,1021.0,778.0,601.0,...,2194.0,2130.0,1958.0,1808.0,1779.0,1636.0,1326.0,2017,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,1049,20170127,금,세종대로(시청역2),A-17,유출,덕수궁->서울시의회,1021.0,778.0,601.0,...,2194.0,2130.0,1958.0,1808.0,1779.0,1636.0,1326.0,2017,1,27
1050,1050,20170128,토,세종대로(시청역2),A-17,유출,덕수궁->서울시의회,1021.0,778.0,601.0,...,2194.0,2130.0,1958.0,1808.0,1779.0,1636.0,1326.0,2017,1,28
1051,1051,20170129,일,세종대로(시청역2),A-17,유출,덕수궁->서울시의회,1021.0,778.0,601.0,...,2194.0,2130.0,1958.0,1808.0,1779.0,1636.0,1326.0,2017,1,29
1052,1052,20170130,월,세종대로(시청역2),A-17,유출,덕수궁->서울시의회,1021.0,778.0,601.0,...,2194.0,2130.0,1958.0,1808.0,1779.0,1636.0,1326.0,2017,1,30
1053,1053,20170131,화,세종대로(시청역2),A-17,유출,덕수궁->서울시의회,1021.0,778.0,601.0,...,2194.0,2130.0,1958.0,1808.0,1779.0,1636.0,1326.0,2017,1,31

In [6]:
# 재구조화(unpivot)
df_unpivot = pd.melt(data_2017, id_vars=['년도','월','일','요일','구분','지점명'],value_vars=['0시', '1시', '2시', '3시', '4시',
       '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
       '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'])
df_unpivot.rename(columns={'variable':'시간', 'value':'교통량'}, inplace=True)

df_unpivot

        년도  월   일 요일  구분         지점명   시간     교통량
0     2017  1   1  일  유입    율곡로(안국역)   0시  1021.0
1     2017  1   2  월  유입    율곡로(안국역)   0시  1021.0
2     2017  1   3  화  유입    율곡로(안국역)   0시  1021.0
3     2017  1   4  수  유입    율곡로(안국역)   0시  1021.0
4     2017  1   5  목  유입    율곡로(안국역)   0시  1021.0
...    ... ..  .. ..  ..         ...  ...     ...
7435  2017  1  27  금  유출  세종대로(시청역2)  23시  1326.0
7436  2017  1  28  토  유출  세종대로(시청역2)  23시  1326.0
7437  2017  1  29  일  유출  세종대로(시청역2)  23시  1326.0
7438  2017  1  30  월  유출  세종대로(시청역2)  23시  1326.0
7439  2017  1  31  화  유출  세종대로(시청역2)  23시  1326.0

[7440 rows x 8 columns]

In [10]:
# 일자별 시간별 정렬
df_unpivot= df_unpivot.sort_values(by=['년도','월','일','지점명','시간'],ascending=True)
df_unpivot

        년도  월   일 요일  구분             지점명   시간     교통량
62    2017  1   1  일  유입  대학로(한국방송통신대학교)   0시  1021.0
93    2017  1   1  일  유출  대학로(한국방송통신대학교)   0시  1021.0
3162  2017  1   1  일  유입  대학로(한국방송통신대학교)  10시  2148.0
3193  2017  1   1  일  유출  대학로(한국방송통신대학교)  10시  2148.0
3472  2017  1   1  일  유입  대학로(한국방송통신대학교)  11시  2156.0
...    ... ..  .. ..  ..             ...  ...     ...
2417  2017  1  31  화  유출       종로(종로3가역)   7시  1690.0
2696  2017  1  31  화  유입       종로(종로3가역)   8시  1971.0
2727  2017  1  31  화  유출       종로(종로3가역)   8시  2026.0
3006  2017  1  31  화  유입       종로(종로3가역)   9시  1507.0
3037  2017  1  31  화  유출       종로(종로3가역)   9시  1882.0

[7440 rows x 8 columns]

In [11]:
# 시간열에 '시' 삭제 및 데이터 type 변경
df_unpivot['시간'] = df_unpivot['시간'].str.replace('시','')

df_unpivot['시간']= pd.to_numeric(df_unpivot['시간'],errors='coerce')
df_unpivot['교통량']= pd.to_numeric(df_unpivot['교통량'],errors='coerce')

In [14]:
# 유입+유출의 평균으로 교통량 산정
df_final = pd.pivot_table(df_unpivot, values='교통량',index=['년도','월','일','요일','지점명','시간'],aggfunc='mean')
df_final.reset_index(inplace=True)
df_final

        년도  월   일 요일             지점명  시간     교통량
0     2017  1   1  일  대학로(한국방송통신대학교)   0  1021.0
1     2017  1   1  일  대학로(한국방송통신대학교)   1   778.0
2     2017  1   1  일  대학로(한국방송통신대학교)   2   601.0
3     2017  1   1  일  대학로(한국방송통신대학교)   3   512.0
4     2017  1   1  일  대학로(한국방송통신대학교)   4   534.0
...    ... ..  .. ..             ...  ..     ...
3715  2017  1  31  화       종로(종로3가역)  19  1712.0
3716  2017  1  31  화       종로(종로3가역)  20  1507.5
3717  2017  1  31  화       종로(종로3가역)  21  1488.0
3718  2017  1  31  화       종로(종로3가역)  22  1248.5
3719  2017  1  31  화       종로(종로3가역)  23  1326.0

[3720 rows x 7 columns]

In [17]:
# 교통량측정지점명에 매칭되는 사고다발지점 컬럼 추가
df_final = df_final.rename(columns={'지점명': "교통량측정지점명"})

df_final['사고다발지점'] = ''
for idx, val in df_final.iterrows():
    df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]

df_final

<ipython-input-17-adb3c3c23069>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]

        년도  월   일 요일        교통량측정지점명  시간     교통량    사고다발지점
0     2017  1   1  일  대학로(한국방송통신대학교)   0  1021.0     이화사거리
1     2017  1   1  일  대학로(한국방송통신대학교)   1   778.0     이화사거리
2     2017  1   1  일  대학로(한국방송통신대학교)   2   601.0     이화사거리
3     2017  1   1  일  대학로(한국방송통신대학교)   3   512.0     이화사거리
4     2017  1   1  일  대학로(한국방송통신대학교)   4   534.0     이화사거리
...    ... ..  .. ..             ...  ..     ...       ...
3715  2017  1  31  화       종로(종로3가역)  19  1712.0  종로3가역사거리
3716  2017  1  31  화       종로(종로3가역)  20  1507.5  종로3가역사거리
3717  2017  1  31  화       종로(종로3가역)  21  1488.0  종로3가역사거리
3718  2017  1  31  화       종로(종로3가역)  22  1248.5  종로3가역사거리
3719  2017  1  31  화       종로(종로3가역)  23  1326.0  종로3가역사거리

[3720 rows x 8 columns]

In [18]:
df_final = df_final[['년도','월','일','요일','시간','교통량측정지점명','사고다발지점','교통량']]
df_final

        년도  월   일 요일  시간        교통량측정지점명    사고다발지점     교통량
0     2017  1   1  일   0  대학로(한국방송통신대학교)     이화사거리  1021.0
1     2017  1   1  일   1  대학로(한국방송통신대학교)     이화사거리   778.0
2     2017  1   1  일   2  대학로(한국방송통신대학교)     이화사거리   601.0
3     2017  1   1  일   3  대학로(한국방송통신대학교)     이화사거리   512.0
4     2017  1   1  일   4  대학로(한국방송통신대학교)     이화사거리   534.0
...    ... ..  .. ..  ..             ...       ...     ...
3715  2017  1  31  화  19       종로(종로3가역)  종로3가역사거리  1712.0
3716  2017  1  31  화  20       종로(종로3가역)  종로3가역사거리  1507.5
3717  2017  1  31  화  21       종로(종로3가역)  종로3가역사거리  1488.0
3718  2017  1  31  화  22       종로(종로3가역)  종로3가역사거리  1248.5
3719  2017  1  31  화  23       종로(종로3가역)  종로3가역사거리  1326.0

[3720 rows x 8 columns]

### 최종코드 (완성본)

#### 1. 2017 교통량

In [20]:
traffic_df = pd.DataFrame(columns=['년도','월','일','요일','시간','교통량측정지점명','사고다발지점','교통량'])
traffic_df

Empty DataFrame
Columns: [년도, 월, 일, 요일, 시간, 교통량측정지점명, 사고다발지점, 교통량]
Index: []

In [21]:
for i in range(1, 13):
    # 교통량 데이터 파일 읽어옴
    data_df = pd.read_csv('./교통량/2017/2017_%d월.csv' % i, encoding='utf-8')
    
    # traffic_list에 해당하는 지점명만 추출
    data_df = data_df[(data_df['지점명'] == traffic_list[0]) | (data_df['지점명'] == traffic_list[1]) | (data_df['지점명'] == traffic_list[2]) | (data_df['지점명'] == traffic_list[3]) | (data_df['지점명'] == traffic_list[4])]
    
    # 재구조화(unpivot)
    df_unpivot = pd.melt(data_df, id_vars=['년도','월','일','요일','구분','지점명'],value_vars=['0시', '1시', '2시', '3시', '4시',
           '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
           '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'])
    df_unpivot.rename(columns={'variable':'시간', 'value':'교통량'}, inplace=True)

    # 일자별 시간별 정렬
    df_unpivot= df_unpivot.sort_values(by=['년도','월','일','지점명','시간'],ascending=True)

    # 시간열에 '시' 삭제 및 데이터 type 변경
    df_unpivot['시간'] = df_unpivot['시간'].str.replace('시','')

    df_unpivot['시간']= pd.to_numeric(df_unpivot['시간'],errors='coerce')
    df_unpivot['교통량']= pd.to_numeric(df_unpivot['교통량'],errors='coerce')
    
    # 유입+유출의 평균으로 교통량 산정
    df_final = pd.pivot_table(df_unpivot, values='교통량',index=['년도','월','일','요일','지점명','시간'],aggfunc='mean')
    df_final.reset_index(inplace=True)
    
    # 교통량측정지점명에 매칭되는 사고다발지점 컬럼 추가
    df_final = df_final.rename(columns={'지점명': "교통량측정지점명"})

    df_final['사고다발지점'] = ''
    for idx, val in df_final.iterrows():
        df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]

    df_final = df_final[['년도','월','일','요일','시간','교통량측정지점명','사고다발지점','교통량']]

    # traffic_df 에 추가
    traffic_df = traffic_df.append(df_final)

<ipython-input-21-844148a2bcdb>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-21-844148a2bcdb>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-21-844148a2bcdb>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-21-844148a2bcdb>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-21-844148a2bcdb>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-21-844148a2bcdb>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-21-844148a2bcdb>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-21-844148a2bcdb>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-21-844148a2bcdb>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-21-844148a2bcdb>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-21-844148a2bcdb>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-21-844148a2bcdb>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]

In [22]:
traffic_df

        년도   월   일 요일  시간        교통량측정지점명    사고다발지점     교통량
0     2017   1   1  일   0  대학로(한국방송통신대학교)     이화사거리  1021.0
1     2017   1   1  일   1  대학로(한국방송통신대학교)     이화사거리   778.0
2     2017   1   1  일   2  대학로(한국방송통신대학교)     이화사거리   601.0
3     2017   1   1  일   3  대학로(한국방송통신대학교)     이화사거리   512.0
4     2017   1   1  일   4  대학로(한국방송통신대학교)     이화사거리   534.0
...    ...  ..  .. ..  ..             ...       ...     ...
3715  2017  12  31  일  19       종로(종로3가역)  종로3가역사거리  1893.0
3716  2017  12  31  일  20       종로(종로3가역)  종로3가역사거리  1729.0
3717  2017  12  31  일  21       종로(종로3가역)  종로3가역사거리  1717.0
3718  2017  12  31  일  22       종로(종로3가역)  종로3가역사거리  1589.0
3719  2017  12  31  일  23       종로(종로3가역)  종로3가역사거리  1285.0

[43800 rows x 8 columns]

In [24]:
traffic_df.to_csv('./교통량/2017교통량.csv', encoding='utf-8-sig')

#### 2. 2018 교통량

In [29]:
traffic_df = pd.DataFrame(columns=['년도','월','일','요일','시간','교통량측정지점명','사고다발지점','교통량'])
traffic_df

Empty DataFrame
Columns: [년도, 월, 일, 요일, 시간, 교통량측정지점명, 사고다발지점, 교통량]
Index: []

In [30]:
for i in range(1, 13):
    data_df = pd.read_csv('./교통량/2018/2018_%d월.csv' % i, encoding='utf-8')
    
    # 1. traffic_list(종로구 선정지역)에 해당하는 지점명만 추출
    data_df = data_df[(data_df['지점명'] == traffic_list[0]) | (data_df['지점명'] == traffic_list[1]) | (data_df['지점명'] == traffic_list[2]) | (data_df['지점명'] == traffic_list[3]) | (data_df['지점명'] == traffic_list[4])]
    
    
    # 2. 재구조화(unpivot)
    df_unpivot = pd.melt(data_df, id_vars=['년도','월','일','요일','방향','지점명'],value_vars=['0시', '1시', '2시', '3시', '4시',
           '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
           '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'])
    df_unpivot.rename(columns={'variable':'시간', 'value':'교통량'}, inplace=True)

    
    # 3. 일자별 시간별 정렬
    df_unpivot= df_unpivot.sort_values(by=['년도','월','일','지점명','시간'],ascending=True)

    
    # 4. 시간 컬럼의 '시' 삭제 및 데이터 type 변경
    df_unpivot['시간'] = df_unpivot['시간'].str.replace('시','')

    df_unpivot['시간']= pd.to_numeric(df_unpivot['시간'],errors='coerce')
    df_unpivot['교통량']= pd.to_numeric(df_unpivot['교통량'],errors='coerce')
    
    
    # 5. 유입+유출의 평균으로 교통량 산정
    df_final = pd.pivot_table(df_unpivot, values='교통량',index=['년도','월','일','요일','지점명','시간'],aggfunc='mean')
    df_final.reset_index(inplace=True)
    
    
    # 6. 교통량측정지점명에 매칭되는 사고다발지점 컬럼 추가
    df_final = df_final.rename(columns={'지점명': "교통량측정지점명"})

    df_final['사고다발지점'] = ''
    for idx, val in df_final.iterrows():
        df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]

    df_final = df_final[['년도','월','일','요일','시간','교통량측정지점명','사고다발지점','교통량']]

    
    # 7. traffic_df 에 추가
    traffic_df = traffic_df.append(df_final)

<ipython-input-30-cd7b90e984ad>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-30-cd7b90e984ad>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-30-cd7b90e984ad>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-30-cd7b90e984ad>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-30-cd7b90e984ad>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-30-cd7b90e984ad>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-30-cd7b90e984ad>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-30-cd7b90e984ad>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-30-cd7b90e984ad>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-30-cd7b90e984ad>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-30-cd7b90e984ad>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-30-cd7b90e984ad>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]

In [31]:
traffic_df.to_csv('./교통량/2018교통량.csv', encoding='utf-8-sig')

#### 3. 2019 교통량

In [32]:
traffic_df = pd.DataFrame(columns=['년도','월','일','요일','시간','교통량측정지점명','사고다발지점','교통량'])
traffic_df

Empty DataFrame
Columns: [년도, 월, 일, 요일, 시간, 교통량측정지점명, 사고다발지점, 교통량]
Index: []

In [33]:
for i in range(1, 13):
    data_df = pd.read_csv('./교통량/2019/2019_%d월.csv' % i, encoding='utf-8')
    
    # 1. traffic_list(종로구 선정지역)에 해당하는 지점명만 추출
    data_df = data_df[(data_df['지점명'] == traffic_list[0]) | (data_df['지점명'] == traffic_list[1]) | (data_df['지점명'] == traffic_list[2]) | (data_df['지점명'] == traffic_list[3]) | (data_df['지점명'] == traffic_list[4])]
    
    
    # 2. 재구조화(unpivot)
    df_unpivot = pd.melt(data_df, id_vars=['년도','월','일','요일','방향','지점명'],value_vars=['0시', '1시', '2시', '3시', '4시',
           '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시',
           '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시'])
    df_unpivot.rename(columns={'variable':'시간', 'value':'교통량'}, inplace=True)

    
    # 3. 일자별 시간별 정렬
    df_unpivot= df_unpivot.sort_values(by=['년도','월','일','지점명','시간'],ascending=True)

    
    # 4. 시간 컬럼의 '시' 삭제 및 데이터 type 변경
    df_unpivot['시간'] = df_unpivot['시간'].str.replace('시','')

    df_unpivot['시간']= pd.to_numeric(df_unpivot['시간'],errors='coerce')
    df_unpivot['교통량']= pd.to_numeric(df_unpivot['교통량'],errors='coerce')
    
    
    # 5. 유입+유출의 평균으로 교통량 산정
    df_final = pd.pivot_table(df_unpivot, values='교통량',index=['년도','월','일','요일','지점명','시간'],aggfunc='mean')
    df_final.reset_index(inplace=True)
    
    
    # 6. 교통량측정지점명에 매칭되는 사고다발지점 컬럼 추가
    df_final = df_final.rename(columns={'지점명': "교통량측정지점명"})

    df_final['사고다발지점'] = ''
    for idx, val in df_final.iterrows():
        df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]

    df_final = df_final[['년도','월','일','요일','시간','교통량측정지점명','사고다발지점','교통량']]

    
    # 7. traffic_df 에 추가
    traffic_df = traffic_df.append(df_final)

<ipython-input-33-45fd2105d094>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-33-45fd2105d094>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-33-45fd2105d094>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-33-45fd2105d094>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-33-45fd2105d094>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-33-45fd2105d094>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-33-45fd2105d094>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-33-45fd2105d094>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-33-45fd2105d094>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-33-45fd2105d094>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-33-45fd2105d094>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]
<ipython-input-33-45fd2105d094>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['사고다발지점'][idx] = data[val['교통량측정지점명']]

In [34]:
traffic_df.to_csv('./교통량/2019교통량.csv', encoding='utf-8-sig')

#### 4. 17, 18, 19년도 교통량 합치기

In [36]:
df_17 = pd.read_csv('./교통량/2017교통량.csv', encoding='utf-8')
df_17

       Unnamed: 0    년도   월   일 요일  시간        교통량측정지점명    사고다발지점     교통량
0               0  2017   1   1  일   0  대학로(한국방송통신대학교)     이화사거리  1021.0
1               1  2017   1   1  일   1  대학로(한국방송통신대학교)     이화사거리   778.0
2               2  2017   1   1  일   2  대학로(한국방송통신대학교)     이화사거리   601.0
3               3  2017   1   1  일   3  대학로(한국방송통신대학교)     이화사거리   512.0
4               4  2017   1   1  일   4  대학로(한국방송통신대학교)     이화사거리   534.0
...           ...   ...  ..  .. ..  ..             ...       ...     ...
43795        3715  2017  12  31  일  19       종로(종로3가역)  종로3가역사거리  1893.0
43796        3716  2017  12  31  일  20       종로(종로3가역)  종로3가역사거리  1729.0
43797        3717  2017  12  31  일  21       종로(종로3가역)  종로3가역사거리  1717.0
43798        3718  2017  12  31  일  22       종로(종로3가역)  종로3가역사거리  1589.0
43799        3719  2017  12  31  일  23       종로(종로3가역)  종로3가역사거리  1285.0

[43800 rows x 9 columns]

In [37]:
df_18 = pd.read_csv('./교통량/2018교통량.csv', encoding='utf-8')
df_18

       Unnamed: 0    년도   월   일 요일  시간        교통량측정지점명    사고다발지점    교통량
0               0  2018   1   1  월   0  대학로(한국방송통신대학교)     이화사거리  564.5
1               1  2018   1   1  월   1  대학로(한국방송통신대학교)     이화사거리  607.0
2               2  2018   1   1  월   2  대학로(한국방송통신대학교)     이화사거리  374.5
3               3  2018   1   1  월   3  대학로(한국방송통신대학교)     이화사거리  293.5
4               4  2018   1   1  월   4  대학로(한국방송통신대학교)     이화사거리  230.5
...           ...   ...  ..  .. ..  ..             ...       ...    ...
43795        3715  2018  12  31  월  19       종로(종로3가역)  종로3가역사거리  644.0
43796        3716  2018  12  31  월  20       종로(종로3가역)  종로3가역사거리  671.0
43797        3717  2018  12  31  월  21       종로(종로3가역)  종로3가역사거리  713.0
43798        3718  2018  12  31  월  22       종로(종로3가역)  종로3가역사거리  615.0
43799        3719  2018  12  31  월  23       종로(종로3가역)  종로3가역사거리  342.5

[43800 rows x 9 columns]

In [38]:
df_19 = pd.read_csv('./교통량/2019교통량.csv', encoding='utf-8')
df_19

       Unnamed: 0    년도   월   일 요일  시간        교통량측정지점명    사고다발지점    교통량
0               0  2019   1   1  일   0  대학로(한국방송통신대학교)     이화사거리  854.0
1               1  2019   1   1  일   1  대학로(한국방송통신대학교)     이화사거리  594.5
2               2  2019   1   1  일   2  대학로(한국방송통신대학교)     이화사거리  418.0
3               3  2019   1   1  일   3  대학로(한국방송통신대학교)     이화사거리  337.5
4               4  2019   1   1  일   4  대학로(한국방송통신대학교)     이화사거리  250.0
...           ...   ...  ..  .. ..  ..             ...       ...    ...
43795        3715  2019  12  31  화  19       종로(종로3가역)  종로3가역사거리  654.0
43796        3716  2019  12  31  화  20       종로(종로3가역)  종로3가역사거리  714.0
43797        3717  2019  12  31  화  21       종로(종로3가역)  종로3가역사거리  643.5
43798        3718  2019  12  31  화  22       종로(종로3가역)  종로3가역사거리  567.0
43799        3719  2019  12  31  화  23       종로(종로3가역)  종로3가역사거리  389.0

[43800 rows x 9 columns]

In [45]:
traffic_final_df = pd.concat([df_17, df_18, df_19])
traffic_final_df = traffic_final_df.drop(['Unnamed: 0'], axis=1)
traffic_final_df

         년도   월   일 요일  시간        교통량측정지점명    사고다발지점     교통량
0      2017   1   1  일   0  대학로(한국방송통신대학교)     이화사거리  1021.0
1      2017   1   1  일   1  대학로(한국방송통신대학교)     이화사거리   778.0
2      2017   1   1  일   2  대학로(한국방송통신대학교)     이화사거리   601.0
3      2017   1   1  일   3  대학로(한국방송통신대학교)     이화사거리   512.0
4      2017   1   1  일   4  대학로(한국방송통신대학교)     이화사거리   534.0
...     ...  ..  .. ..  ..             ...       ...     ...
43795  2019  12  31  화  19       종로(종로3가역)  종로3가역사거리   654.0
43796  2019  12  31  화  20       종로(종로3가역)  종로3가역사거리   714.0
43797  2019  12  31  화  21       종로(종로3가역)  종로3가역사거리   643.5
43798  2019  12  31  화  22       종로(종로3가역)  종로3가역사거리   567.0
43799  2019  12  31  화  23       종로(종로3가역)  종로3가역사거리   389.0

[131400 rows x 8 columns]

In [46]:
traffic_final_df.to_csv('./교통량데이터프레임(날씨추가전).csv', index=None)

In [6]:
call_finaldf = pd.read_csv('./교통량+날씨.csv', encoding='cp949')
call_finaldf= call_finaldf.sort_values(by=['년도_x','월_x','일_x','교통량측정지점명','시간_x'],ascending=True)
call_finaldf

,년도_x,월_x,일_x,요일,시간_x,교통량측정지점명,사고다발지점,교통량,일시,기온(°C),...,일사(MJ/m2),적설(cm),최저운고(100m ),시정(10m),지면상태(지면상태코드),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,2017,1,1,일,0,대학로(한국방송통신대학교),이화사거리,1021.0,2017-01-01 0:00,0.2,...,NaN,NaN,8.0,491,NaN,-0.9,0.1,0.3,1.7,2.6
5,2017,1,1,일,1,대학로(한국방송통신대학교),이화사거리,778.0,2017-01-01 1:00,0.0,...,NaN,NaN,7.0,549,NaN,-0.9,0.0,0.3,1.7,2.6
10,2017,1,1,일,2,대학로(한국방송통신대학교),이화사거리,601.0,2017-01-01 2:00,-0.3,...,NaN,NaN,8.0,483,NaN,-1.8,0.0,0.3,1.7,2.6
15,2017,1,1,일,3,대학로(한국방송통신대학교),이화사거리,512.0,2017-01-01 3:00,-0.7,...,NaN,NaN,NaN,436,NaN,-2.1,0.0,0.3,1.7,2.7
20,2017,1,1,일,4,대학로(한국방송통신대학교),이화사거리,534.0,2017-01-01 4:00,-1.1,...,NaN,NaN,NaN,430,NaN,-2.4,-0.1,0.4,1.7,2.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131379,2019,12,31,화,19,종로(종로3가역),종로3가역사거리,654.0,2019-12-31 19:00,-6.9,...,NaN,NaN,NaN,1981,NaN,-3.6,-0.6,0.9,2.3,3.3
131384,2019,12,31,화,20,종로(종로3가역),종로3가역사거리,714.0,2019-12-31 20:00,-7.0,...,NaN,NaN,NaN,1912,NaN,-4.1,-0.7,0.9,2.3,3.3
131389,2019,12,31,화,21,종로(종로3가역),종로3가역사거리,643.5,2019-12-31 21:00,-7.4,...,NaN,NaN,NaN,1993,NaN,-4.4,-0.8,0.9,2.3,3.3
131394,2019,12,31,화,22,종로(종로3가역),종로3가역사거리,567.0,2019-12-31 22:00,-8.2,...,NaN,NaN,NaN,1990,NaN,-4.6,-1.0,0.8,2.2,3.2
131399,2019,12,31,화,23,종로(종로3가역),종로3가역사거리,389.0,2019-12-31 23:00,-7.4,...,NaN,NaN,14.0,2000,NaN,-3.5,-1.1,0.8,2.2,3.2